body{
    margin: 0;
    padding: 0;
    
    background: url(./img/space.jpg);
}

#container{
    margin: 0 auto;
    width: 950px;
    height: 500px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/****************   Earth    *******************************/
#earth{
    
    position: relative;
    z-index: 1;
    background: url(./img/Earth-Color4096.jpg);
    width: 250px;
    height: 250px;
    background-size: 510px;
    border-radius: 50%;
    
    box-shadow: inset 8px 36px 95px 36px rgb(41, 40, 40), inset -6px 0 12px 4px rgba(255, 255, 255, 0.3);
    animation-name: rotate;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

   
    
}

/****************   Moon    ********************************/
#moon{
    position: absolute;
    margin-top: 500px;
    margin-right: 500px;
    animation: orbit 12s infinite linear; 

    -webkit-animation-name: orbit;
    -webkit-animation-duration: 6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

/*
    Earth rotate
*/
@keyframes rotate {
    from {
      background-position: 510px 0px;
    }
    to {
      background-position: 0px 0px;
    }
}  
    
/*
    Moon orbit
*/
@keyframes orbit { 
    
    0%{

        width: 50px;
        height: 50px;
    }
    
    25%{
        z-index: 2;
        width: 100px;
        height: 100px;
    }

    35%{
        z-index: 2;
        width: 85px;
        height: 85px;
    }

    50%{
        transform: translate(450px, -500px) rotate(360deg);

        z-index: 2;

        width: 50px;
        height: 50px;
    }

    65%{
        z-index: 0;
        width: 50px;
        height: 50px;
    }

    75%{
    z-index: 0;
}

    100%{
        width: 50px;
        height: 50px;
    }
}

@-webkit-keyframes orbit {
  
    
    0%{

        width: 50px;
        height: 50px;
    }
    
    25%{
        z-index: 2;
        width: 100px;
        height: 100px;
    }

    35%{
        z-index: 2;
        width: 85px;
        height: 85px;
    }

    50%{
        transform: translate(450px, -500px) rotate(360deg);

        z-index: 2;

        width: 50px;
        height: 50px;
    }

    65%{
        z-index: 0;
        width: 50px;
        height: 50px;
    }

    75%{
    z-index: 0;
}

    100%{
        width: 50px;
        height: 50px;
    }
}


